@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  --rgb858585: rgb(85, 85, 85);
  --black: black;
  --white: white;
  --grey: grey;
  --rgb181: rgb(181, 181, 181);
  --rgb53: rgb(53, 53, 53) 0.1rem solid;
  --rgb535353: rgb(53, 53, 53);
  --rgb255: rgb(255, 255, 255) 0.1rem solid;
  --rgb: rgb(163, 163, 163);
  --rgb0: rgb(0, 0, 0);
  --rgb250: rgb(250, 250, 250);
}


* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* -----------------------mode dark----------------------- */
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--white);
  /* transition: background 0.2s linear; */
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.check {
  padding: 7px;
  height: 55px;
}

.label {
  background-color: var(--black);
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  /*aqui*/
  position: relative;
  height: 30px;
  /*aqui*/
  width: 56px;
  /*aqui*/
  transform: scale(1.5);
}

.label i {
  font-size: 15px;
  /* Adjust icon size */
  padding: 5px;

}

.label .ball {
  background-color: var(--white);
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 4px;
  /*aqui*/
  height: 24px;
  /*aqui*/
  width: 24px;
  /*aqui*/
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked+.label .ball {
  transform: translateX(24px);
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

/* ---------------------principal------------------- */


html {
  scroll-behavior: smooth;
}

p {
  color: var(--rgb858585);
}

a,
.btn {
  transition: all 300ms ease;
}

nav,
.links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
  z-index: 99;
  display: flex;
}

a {
  color: var(--black);
  text-decoration: none;
  text-decoration-color: var(--white);
  ;
}

a:hover {
  color: var(--grey);
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: var(--rgb181);
  ;
}

.logo {
  font-size: 2rem;
}

.logo:hover {
  cursor: default;
}

section {
  padding-top: 4vh;
  height: 72vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.sessao-container {
  display: flex;
}

#perfil {
  display: flex;
  justify-content: center;
  gap: 2rem;
  height: 80vh;
}

.foto-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
  border-radius: 50%;
}

.foto-container2 {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
  border-radius: 50%;
}

h3 {
  color: var(--black);
}

.sessao-texto {
  align-self: center;
  text-align: center;
}

.sessao-texto p {
  font-weight: 600;
}

.sessao-p1 {
  text-align: center;
}

.sessao-p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.titulo {
  font-size: 3rem;
  text-align: center;
}

#sociais {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

.icon {
  cursor: pointer;
  height: 2rem;
}

.container-botao {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: var(--rgb53);
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: var(--rgb535353);
  ;
  color: var(--white);
  ;
}

.btn-color-1:hover {
  background: var(--rgb0);
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: var(--rgb255);
}

.container-botao {
  gap: 1rem;
}

#sobre {
  margin: 3rem 5% 0 5%;
  /* Aumentei a margem superior para 5rem */
  position: relative;
}

.sobre-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.sobre-detalhes-container {
  justify-content: center;
  flex-direction: column;
}

.sobre-containers,
.sobre-detalhes-container {
  display: flex;
}

.sobre-pic {
  border-radius: 2rem;
}

.detalhes-container {
  padding: 3.5rem;
  width: 7rem !important;
  display: flex;
  flex-direction: column;
  flex: 1;
  background: var(--white);
  border-radius: 2rem;
  border: var(--rgb53) !important;
  text-align: center;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.sessao-container {
  gap: 4rem;
  height: 80%;
}

#experiencia {
  position: relative;

}

.experiencia-sub-titulo {
  color: var(--rgb858585);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.experiencia-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
}

#projetos {
  position: relative;
}

.color-container {
  border-color: var(--rgb163);
  background: var(--rgb250);
}

.projetos-imagem {
  border-radius: 2rem;
  width: 90%;
  height: 90%;
}

.titulo-projeto {
  margin: 1rem;
  color: var(--black);
}

.projetos-botao {
  color: var(--black);
  border-color: var(--rgb163);
}

/* contato */

#contato {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.contato-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: var(--rgb53);
  background: (250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contato-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contato-info-container p {
  font-size: larger;
}

.contato-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}

/* FOOTER SECTION */

footer {
  height: 26vh;
  margin: 0 1rem;
}

footer p {
  text-align: center;
  margin-top: 2em;
  /* Adicionei margem superior */
}

.projeto-footer {
  margin-top: 28em;
  /* Adicionei margem superior */
}

/* inversor */
.foto {
  filter: invert(100%);
}

.charge {
  filter: invert(100%);
}

/* SCROLL SECTION */

.fade-in {
  opacity: 0;
  transform: translateY(60px);
  transition: opacity 1s ease, transform 1s ease;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

#sobre {
  padding: 80px 0;
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

.titulos {
  font-size: 3rem;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: -4rem;
}